@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default settings */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

#root {
	height: 100%;
}

/* Additional styles for background for main component (Optional) */
.main {
	background-image: url('./assets/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* Additional styles for MUI Pagination Component (Optional) */
.MuiPagination-root button {
	background-color: rgba(32, 32, 32, 1);
	color: red;
	font-size: 18px;
}

.MuiPagination-root button:hover {
	background-color: rgba(32, 32, 32, 0.5);
}
